.main{
    padding: 15px;
    font-size: 20px;
    color: #C0C0C0;
    opacity: 0.8;
}

.main span{
    color: #ffffff;
}
.nick-info{
    
    color: #ff3600 ;
    display: flex;
    padding: 10px;
    font-size: 15px;
}

.info-left{
    width: 60%;
   
}
.info-tt{
    
    width: 40%;
    padding-left: 50px;
}
.bt-tt {
    color: #ffffff;
    background-color: #FCAD36;
    height: 100%;
    font-size: 20px; 
    text-align: center;
    padding-top: 22px;
    cursor: pointer;
}
.nick-tab{
    list-style: none;
    padding-top: 30px;
    height: 100px;
}
.nick-tab li{
    float: left;
    width: 20%;
    padding: 20px;
    border: 1px solid #30343c;
    text-align: center;
    
}
.nick-tab li a {
    height: 42px;
    color: #FCAD36;
    font-size: 18px;
    text-decoration: none;
}
.nick-content{
    
    padding-top: 20px;
}
.nick-content img{
    max-width: 100%;
}





